/* begin style devlopeed by oussama berhayla*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* start style header*/

header {
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*  start style header top*/

.header-top {
    background-color: rgb(255, 255, 255);
    width: 75%;
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

.header-top .logo {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 20%;
    height: 100%;
}

.header-top .logo h1 {
    text-transform: uppercase;
    font-size: 26px;
}

.header-top ul {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.header-top ul li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transition: all .3s;
    cursor: pointer;
}

.header-top ul li:hover {
    background-color: whitesmoke;
}

.header-top ul li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.header-top ul li i {
    height: 20px;
    width: 20px;
    line-height: 20px;
    color: #6c757d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    position: relative;
}

.header-top ul li i span {
    position: absolute;
    background-color: #fd6074;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    top: -7px;
    left: 9px;
    color: #fff;
}

.li-notification,
.li-profil {
    position: absolute;
    width: 250px;
    height: 260px;
    background-color: rgb(255, 255, 255);
    right: 6%;
    top: 65px;
    z-index: 3;
    box-shadow: -8px 5px 20px 0 rgb(21 21 62 / 30%);
    transition: all .4s;
    animation: totop forwards 0.3s;
    display: none;
}

.traiangle-up {
    position: absolute;
    right: 10px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid rgb(255, 255, 255);
}

.li-notification ul {
    margin-top: 10px;
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
}

.li-notification ul li {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    border-radius: 0%;
    border-bottom: 1px solid #EAEDF7;
}

.li-notification ul li:first-child {
    justify-content: space-around;
    align-items: center;
    font-size: 11px;
    padding: 5px 20px;
    height: 35px;
    color: #3c4858;
}

.li-notification ul li:first-child:hover {
    background-color: #fff;
}

.li-notification ul li input {
    width: 50px;
    height: 20px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.li-notification ul li .left {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-notification ul li .left img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.li-notification ul li .right {
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
}

.li-notification ul li .right p {
    margin-bottom: 5px;
    line-height: 1.3;
    color: #444469;
    font-size: 13px;
}

.li-notification ul li .right span {
    font-size: 11px;
    color: #a8afc7;
}

.li-notification ul li:last-child {
    font-size: 14px;
    border-bottom: none;
    padding-top: 10px;
    color: #6259ca;
    text-transform: capitalize;
    letter-spacing: .2px;
}

.li-notification ul li:last-child:hover {
    background-color: white;
}

@keyframes totop {
    from {
        top: 80px;
    }
    to {
        top: 65px;
        ;
    }
}

.li-profil {
    width: 200px;
    height: 240px;
    background-color: #ffffff;
    position: absolute;
    z-index: 3;
    right: 0;
    top: 65px;
}

.li-profil .traiangle-up {
    right: 20px;
}

.li-profil ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.li-profil ul li {
    width: 100%;
    height: 45px;
    border-radius: 0%;
    border-top: 1px solid #EAEDF7;
    display: flex;
    padding-left: 20px;
    align-items: center;
    justify-content: flex-start;
}

.li-profil ul li:first-child {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 25px;
}

.li-profil ul li i {
    font-size: 15px;
    margin-right: 15px;
}

.li-profil ul li p {
    font-size: 13px;
    margin-bottom: 0px;
    color: #535061;
    text-transform: capitalize;
}

.li-profil ul li span {
    font-size: 16px;
    font-weight: 600;
    color: #11141f;
    margin-bottom: 7px;
    line-height: 1;
}

.li-profil ul li:hover {
    padding: 0px 25px;
}

.li-profil ul li:hover p {
    color: #b265f1;
}

.li-profil ul li:hover i {
    color: #b265f1;
}

.li-profil ul li:first-child p {
    color: #3f395a;
}

.li-profil ul li:first-child:hover {
    background-color: #fff;
}

.li-profil ul li:first-child:hover span {
    color: #11141f;
}


/* end style header top*/


/* start style header navigation*/

nav {
    width: 100%;
    height: 40%;
    background-color: #25023d;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #ul {
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav #ul li {
    position: relative;
    width: 12%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav #ul li::before {
    position: absolute;
    width: 100%;
    height: 3px;
    content: "";
    top: 1px;
    transition: all 0.3s;
    border-radius: 2px;
}

nav #ul li:hover:before {
    background-color: white;
}

nav #ul li:hover {
    padding-top: 2px;
    cursor: pointer;
}

nav #ul .activ {
    padding-top: 2px;
}

nav #ul .activ:before {
    background-color: white;
}

nav #ul li:hover:before {
    background-color: white;
}

nav #ul li a {
    text-decoration: none;
    color: #6c757d;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    position: relative;
}

nav #ul li i {
    margin-right: 5px;
}

nav #ul li:hover a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

nav #ul .activ a {
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: 0.3s;
}

nav {
    position: relative;
}


/* end style header navigation*/


/* start style header animation*/

nav .li-show {/*modifier*/
    width: 10%;
    height: 220px;
    background-color: #fff;
    position: absolute;
    box-shadow: -8px 5px 20px 0 rgb(21 21 62 / 30%);
    z-index: 2;
    display: none;
}

nav #li-config {/*modifier*/
    height: 250px;
    left: 22.4%;
    bottom: -250px;
}

nav #li-mailapp {
    left: 33.6%;
    bottom: -220px;
}

nav #li-payment {
    left: 45.2%;
    bottom: -220px;
}

nav #li-absence {
    left: 56.7%;
    bottom: -220px;
}

nav #li-exercices {
    left: 68.2%;
    bottom: -220px;
}

nav #li-controles {
    left: 79.5%;
    bottom: -220px;
}

nav .li-show ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

nav .li-show ul li {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    transition: all .3s;
    justify-content: flex-start;
    padding: 7px 20px 0 20px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 300;
}

nav .li-show ul li:hover {
    padding: 7px 15px 0 25px;
    background-color: whitesmoke;
    color: #b265f1;
}

nav .li-show ul li:hover a {
    color: #b265f1;
}

nav .li-show ul li a {
    text-decoration: none;
    color: #9b9b9b;
}

nav .li-show ul li i {
    margin-right: 10px;
}


/* end style header animation*/


/* end style header*-----------------------------------------------------/

/* start style main*/

main {
    width: 100%;
    height: 1600px;
    background-color: #EAEDF7;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    position: relative;
}

.mail {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


/*start style Main top*/

.mail-title {
    width: 100%;
    height: 8%;
    display: flex;
    margin-bottom: 30px;
    padding-top: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mail-title .text {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.mail-title .text p {
    text-transform: capitalize;
    margin-bottom: 5px;
    color: #170c6b;
    font-weight: 500;
    font-size: 32px;
    text-indent: -1px;
    line-height: 1;
}

.mail-title .text span {
    color: #7787bc;
    font-size: 16px;
    text-transform: capitalize;
    text-indent: -1px;
    line-height: 1;
    font-weight: 500;
    padding-left: 0.5rem;
}

.btn {
    cursor: pointer;
    width: 180px;
    height: 40px;
    color: #fff;
    background-color: #6259ca;
    border-color: #6259ca;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 3px;
    text-transform: capitalize;
    outline: none;
}


/*end style Main top*/


/*start style Main  bottom*/

.tab {
    width: 100%;
    height: 1220px;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.tab .tab-title {
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tab .tab-title .tab-title-top {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
}

.tab .tab-title .tab-title-top p {
    color: #1d212f;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
    font-size: 14px;
    letter-spacing: .2px;
}

.tab .tab-title .tab-title-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tab .tab-title .tab-title-bottom .nbr {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tab .tab-title .tab-title-bottom p {
    word-wrap: break-word;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    color: #1d212f;
}

.tab .tab-title .tab-title-bottom select {
    outline: none;
    text-shadow: none;
    align-items: center;
    display: flex;
    width: 60px;
    height: 35px;
    margin: 0 10px;
    border: 1px solid #EAEDF7;
    font: 400 13.3333px Arial;
    padding: 2px 10px;
    color: #c5c5c7;
    border-radius: 5px;
}

.tab .tab-title .tab-title-bottom .search {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.tab .tab-title .tab-title-bottom .search input {
    width: 200px;
    height: 35px;
    border: 1px solid #EAEDF7;
    padding: 2px 10px;
    color: #c5c5c7;
    border-radius: 5px;
    outline: none;
}

.tab .tab-title .tab-title-bottom .search button {
    width: 45px;
    height: 37px;
    margin-left: -5px;
    margin-right: 20px;
}

.tab .tab-title .tab-title-bottom .search #csearch {
    width: 100px;
    text-transform: capitalize;
}

.tab ul {
    width: 90%;
    height: 1040px;
    margin-top: 10px;
    border: 1px solid #EAEDF7;
    display: flex;
    flex-direction: column;
}

.tab ul li {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #EAEDF7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.tab ul li p {
    width: 100px;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #3c4858;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .5px;
    text-transform: capitalize;
}

.tab ul li:first-child {
    height: 40px;
}

.tab ul li:first-child p {
    text-transform: uppercase;
    justify-content: flex-start;
    padding-left: 10px;
    font-weight: 600;
    font-size: 13px;
}

.tab ul li span {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgb(241, 14, 63);
    margin-right: 5px;
}

.tab ul li #s-active {
    background-color: rgb(33, 240, 33);
}

.tab ul li #email {
    width: 230px;
}

.tab ul li #nom {
    width: 180px;
}

.tab ul li #adresse {
    width: 180px;
}

.tab ul li #action {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding-top: 0px;
}

.tab ul li #action li {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    border: none;
}
.tab ul li #action  #o2{margin-top: -20px; }/*----*/

.tab ul li #action li button {
    width: 50%;
    height: 80%;
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    border: none;
    outline: none;
    
    
}

.tab ul li:hover #action li button {
    cursor: pointer;
    background-color: whitesmoke;
}

.tab ul li:hover #action li {
    background-color: whitesmoke;
    cursor: pointer;
}

.tab ul li #action i {
    font-size: 14px;
    color: rgb(172, 172, 172);
}

.tab ul li #action ul li button {
    background-color: #fff;
    border: none;
}

.tab ul li:hover {
    background-color: whitesmoke;
}

.tab ul li:first-child {
    background-color: rgb(255, 255, 255);
}

.mail #pagination {
    position: absolute;
    right: 60px;
    bottom: 10px;
    z-index: 3;
}

.mail #pagination ul {
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.mail #pagination ul li {
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.mail #pagination ul li button {
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 1px solid #EAEDF7;
    color: #979797;
}

.mail #pagination ul li:first-child button {
    width: 60px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.mail #pagination ul li:last-child button {
    width: 60px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mail #pagination ul li:hover {
    background-color: #fff;
}

.mail #pagination ul li #btn-active {
    background-color: #6259ca;
    border-color: #6259ca;
    color: #fff;
}


/*end style Main bottom*/
main .sct4 {
    padding-top: 30px;
    margin-bottom: 30px;
    position: absolute;
    top: 10px;
    display: none;
}
main .sct4 .div {
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: center;
}
main .sct4 .div .div4 {
    height: 100%;
    width: 1100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    box-shadow: -8px 5px 20px 0 rgb(21 21 62 / 30%);
    border-radius: 15px;
}
main .sct4 .div .div4 .div40 {
    height: 90%;
    width: 480px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;/*#EAEDF7*/
    background-color: rgb(255, 255, 255);
    border: 2px solid #EAEDF7;
 
   
}
main .sct4 .div .div4 .div40 .div41 {
    position: relative;
    height: 20%;
    width: 100%;
}
main .sct4 .div .div4 .div40 .div41 #p1 {
    position: absolute;
    top: 20px;
    left: 25px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}
main .sct4 .div .div4 .div40 .div41 #p2 {
    position: absolute;
    top: 45px;
    left: 25px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: rgb(189, 187, 187);
}
main .sct4 .div .div4 .div40 .div42 {
    height: 80%;
    width: 100%;
}
main .sct4 .div .div4 .div40 .div42 .u1 {
    list-style: none;
    height: 100%;
    width: 100%;
}
main .sct4 .div .div4 .div40 .div42 .u1 li {
    height: 20%;
    width: 100%;
    padding: 5px 23px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
main .sct4 .div .div4 .div40 .div42 .u1 li:hover {
    cursor: pointer;
    background-color: whitesmoke;
}
main .sct4 .div .div4 .div40 .div42 .u1 li .div1 {
    position: relative;
    height: 100%;
    width: 250px;
}
main .sct4 .div .div4 .div40 .div42 .u1 li .div1 img {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 5px 5px;
}
main .sct4 .div .div4 .div40 .div42 .u1 li .div1 .p1 {
    position: absolute;
    top: 7px;
    left: 60px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-transform: capitalize;
}
main .sct4 .div .div4 .div40 .div42 .u1 li .div1 .p2 {
    position: absolute;
    top: 27px;
    left: 61px;
    font-size: 13px;
    font-weight: 300;
    text-transform: lowercase;
    letter-spacing: 0.5px;
    color: rgb(189, 187, 187);
}
main .sct4 .div .div4 .div40 .div42 .u1 li .div2 {
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .sct4 .div .div4 .div40 .div42 .u1 li .div2 p {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: rgb(86, 86, 255);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(232, 238, 255);
}
main .sct4 .div .div4 .div40 .div42 .u1 li:hover .div2 p{
    animation: wooble .7s ease-in infinite;
}
@keyframes wooble{
    from{transform: translateX(-20px);}
    to{transform: translateX(10px);}
}

/*-----end style main----------------------------------*/


/*-----start style footer------*/

footer {
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 12px;
}

footer p span {
    text-transform: capitalize;
    color: rgb(137, 105, 158);
}


/*-----end style footer------*/


/*---------------------------------------*/

main .show-form {
    overflow: hidden;
    padding-bottom: 20px;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100px;
    display: none;
}
main .div-matier {
    height: 330px;
}
main .div-niveau {
    height: 290px;
}
main .div-salle {
    height: 350px;
}
main .div-group {
    height: 470px;
}
main .div-prof {
    height: 470px;
    top: 50px;
}
main .show-form .div {
    position: relative;
    height: 100%;
    width: 400px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    box-shadow: -8px 5px 20px 0 rgb(21 21 62 / 30%);
}

main .show-form .div #p1 {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}

main .show-form .div #p2 {
    position: absolute;
    top: 50px;
    left: 25px;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: rgb(189, 187, 187);
}

main .show-form .div #p3 {
    margin-top: 85px;
    height: 60px;
    width: 86%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #8f9cc0;
}

main .show-form .div #p3 #i1 {
    padding-left: 7px;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e8e8f7;
    outline: none;
    background-color: white;
}

main .show-form .div #p3 #i1:focus {
    border: 1px solid #b7b7c4;
}

main .show-form .div #p3 #i1::placeholder {
    color: #c7c7d5;
}
main .show-form .div #p4 ,main .show-form .div #p6,main .show-form .div #p7{
    height: 60px;
    width: 86%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #8f9cc0;
}

main .show-form .div #p4 #i1,main .show-form .div #p6 #i1,main .show-form .div #p7 #i1 {
    padding-left: 7px;
    height: 35px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #e8e8f7;
    outline: none;
    background-color: white;
}

main .show-form .div #p4 #i1:focus,main .show-form .div #p6 #i1:focus,main .show-form .div #p7 #i1:focus {
    border: 1px solid #b7b7c4;
}

main .show-form .div #p4 #i1::placeholder,main .show-form .div #p6 #i1::placeholder,main .show-form .div #p7 #i1::placeholder {
    color: #c7c7d5;
}
main .show-form .div #p5 {
    height: 60px;
    width: 86%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #8f9cc0;
}
main .show-form .div #p5 select {
    outline: none;
    text-shadow: none;
    align-items: center;
    display: flex;
    height: 35px;
    width: 100%;
    border: 1px solid #EAEDF7;
    font: 400 13.3333px Arial;
    padding: 2px 7px;
    color: #c5c5c7;
    border-radius: 5px;
}
main .show-form  input[type=date] {
    color: #c7c7d5;
}
main .show-form  input[type=date]  i{
    color: #c7c7d5;
}

#bt {
    width: 86%;
}

#btn-close {
    position: absolute;
    right: 3%;
    width: 40px;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: #EAEDF7;
    font-size: 20px;
    font-weight: 700;
}

#btn-close i {
    color: #EAEDF7;
}
