* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif
}
main {
    padding-top: 30px;
    height: 1000px;
}
main .conver {
    position: relative;
    display: flex;
    width: 100%;
    height: 600px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main .conver .conver-contact {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 35%;
    height: auto;
    border-radius: 15px;
}

main .conver .conver-disc {
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

main .conver .conver-contact .title {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EAEDF7;
}

main .conver .conver-contact .title .title-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

main .conver .conver-contact .title .title-bottom ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

main .conver .conver-contact .title .title-bottom ul li {
    list-style: none;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 700;
    color: #3c4858;
    text-transform: uppercase;
}

main .conver .conver-contact .title .title-bottom ul .active {
    color: #6259ca;
    
}

main .conver .conver-contact .list-msg {
    
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;

}
main .conver .conver-contact .list-msg li {
   
    width: 100%;
    height: 80px;
    border-bottom:1px solid #EAEDF7 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    transition: all 0.3s;
    
}
main .conver .conver-contact .list-msg li  img {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    
}
main .conver .conver-contact .list-msg li  .text
 {
    width: 85%;
    height:100%;
   
    display: flex;
    flex-direction: column;
    
}
main .conver .conver-contact .list-msg li  .text .text-top
 {
     margin-top: 10px;
    width: 100%;
    height:40%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
main .conver .conver-contact .list-msg li  .text .text-top p
 {
    font-weight: 600;
    color: #404c6d;
    font-size: 14px;
    text-transform: capitalize;
    
}
main .conver .conver-contact .list-msg li  .text .text-top span
 {
    
    font-size: 11px;
    color: #a8afc7;
    
}
main .conver .conver-contact .list-msg li  .text .text-bottom
 {
    width: 100%;
    height:60%;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
main .conver .conver-contact .list-msg li  .text .text-bottom p
 {
    font-size: 13px;
    margin-bottom: 0;
    color: #8f9cc0;
    line-height: 1.35;
    
}
main .conver .conver-contact .list-msg li:hover  {
    background-color: whitesmoke;
    

}
main .conver .conver-disc {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .conver .conver-disc .hdnotif {
    position: relative;
    height: 130px;
    width: 100%;
}
main .conver .conver-disc .hdnotif .h1 {
    position: absolute;
    top: 25px;
    left: 25px;
    font-weight: 600;
    font-size: 24px;
}
main .conver .conver-disc .hdnotif .date {
    position: absolute;
    top: 100px;
    right: 35px;
    font-size: 13px;
    color: #8f9cc0;
}
main .conver .conver-disc .hdnotif .divtop {
    position: absolute;
    top: 70px;
    left: 22px;
    height: 100%;
    width: 250px;
}
main .conver .conver-disc .hdnotif .divtop img {
    position: absolute;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin: 5px 5px;
}
main .conver .conver-disc .hdnotif .divtop .pname {
    position: absolute;
    top: 7px;
    left: 63px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #404c6d;
    text-transform: capitalize;
}
main .conver .conver-disc .hdnotif .divtop .pemail {
    position: absolute;
    top: 30px;
    left: 64px;
    font-size: 13px;
    font-weight: 300;
    text-transform: lowercase;
    letter-spacing: 0.5px;
    color: rgb(189, 187, 187);
}
main .conver .conver-disc .bdnotif {
    width: 95%;
    display: flex;
    justify-content: center;
}
main .conver .conver-disc .bdnotif p {
    height: auto;
    width: 95%;
    line-height: 25px;
}
main .conver .msgnotif {
    position: fixed;
    bottom: 0;
    right: 20px;
    height: 490px;
    width: 560px;
    border-radius: 5px;
    background-color: #25023d;
    box-shadow: -8px 5px 20px 0 rgb(21 21 62 / 30%);
}
main .conver .msgnotif .hdmsg {
    position: relative;
    height: 65px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}
main .conver .msgnotif .hdmsg .nwntf {
    position: absolute;
    left: 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.4px;
}
main .conver .msgnotif .hdmsg .-ntf {
    position: absolute;
    right: 60px;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.4px;
    cursor: pointer;
}
main .conver .msgnotif .hdmsg .xntf {
    position: absolute;
    right: 25px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: -0.4px;
    cursor: pointer;
}
main .conver .msgnotif .bdmsg {
    height: 435px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 14px;
    background-color: white;
}
main .conver .msgnotif .bdmsg .to {
    height: 40px;
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1.5px solid whitesmoke;
}
main .conver .msgnotif .bdmsg .to #into {
    height: 37px;
    width: 480px;
    border: none;
    outline: none;
    color: rgb(130, 130, 130);
}
main .conver .msgnotif .bdmsg .subject {
    height: 40px;
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1.5px solid whitesmoke;
}
main .conver .msgnotif .bdmsg .subject #insb {
    height: 37px;
    width: 448px;
    border: none;
    outline: none;
    color: rgb(130, 130, 130);
}
main .conver .msgnotif .bdmsg .msg {
    padding-top: 10px;
    height: 240px;
    width: 90%;
    border-bottom: 1.5px solid whitesmoke;
}
main .conver .msgnotif .bdmsg .msg #inmsg {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 50%;
    color: rgb(130, 130, 130);
}
main .conver .msgnotif .bdmsg .send {
    position: relative;
    height: 70px;
    width: 90%;
}
main .conver .msgnotif .bdmsg .send button {
    width: 100px;
    position: absolute;
    right: 0;
    bottom: 0;
}