* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif
}
main {
    padding-top: 30px;
    height: 1000px;
}
main .conver {
    position: relative;
    display: flex;
    width: 100%;
    height: 710px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

main .conver .conver-contact {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 35%;
    height: 100%;
    border-radius: 15px;
}

main .conver .conver-disc {
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

main .conver .conver-contact .title {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #EAEDF7;
}

main .conver .conver-contact .title .title-bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

main .conver .conver-contact .title .title-bottom ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

main .conver .conver-contact .title .title-bottom ul li {
    list-style: none;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 700;
    color: #3c4858;
    text-transform: uppercase;
}

main .conver .conver-contact .title .title-bottom ul .active {
    color: #6259ca;
    
}

main .conver .conver-contact .list-msg {
    
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;

}
main .conver .conver-contact .list-msg li {
   
    width: 100%;
    height: 80px;
    border-bottom:1px solid #EAEDF7 ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    transition: all 0.3s;
    
}
main .conver .conver-contact .list-msg li  img {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    
}
main .conver .conver-contact .list-msg li  .text
 {
    width: 85%;
    height:100%;
   
    display: flex;
    flex-direction: column;
    
}
main .conver .conver-contact .list-msg li  .text .text-top
 {
     margin-top: 10px;
    width: 100%;
    height:40%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
main .conver .conver-contact .list-msg li  .text .text-top p
 {
    font-weight: 600;
    color: #404c6d;
    font-size: 14px;
    text-transform: capitalize;
    
}
main .conver .conver-contact .list-msg li  .text .text-top span
 {
    
    font-size: 11px;
    color: #a8afc7;
    
}
main .conver .conver-contact .list-msg li  .text .text-bottom
 {
    width: 100%;
    height:60%;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
main .conver .conver-contact .list-msg li  .text .text-bottom p
 {
    font-size: 13px;
    margin-bottom: 0;
    color: #8f9cc0;
    line-height: 1.35;
    
}
main .conver .conver-contact .list-msg li:hover  {
    background-color: whitesmoke;
    

}
main .conver .conver-disc {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .conver .conver-disc .hdnotif {
    position: relative;
    height: 130px;
    width: 100%;
}
main .conver .conver-disc .hdnotif .h1 {
    position: absolute;
    top: 25px;
    left: 25px;
    font-weight: 600;
    font-size: 24px;
}
main .conver .conver-disc .hdnotif .date {
    position: absolute;
    top: 100px;
    right: 35px;
    font-size: 13px;
    color: #8f9cc0;
}
main .conver .conver-disc .hdnotif .divtop {
    position: absolute;
    top: 70px;
    left: 22px;
    height: 100%;
    width: 250px;
}
main .conver .conver-disc .hdnotif .divtop img {
    position: absolute;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    margin: 5px 5px;
}
main .conver .conver-disc .hdnotif .divtop .pname {
    position: absolute;
    top: 7px;
    left: 63px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #404c6d;
    text-transform: capitalize;
}
main .conver .conver-disc .hdnotif .divtop .pemail {
    position: absolute;
    top: 30px;
    left: 64px;
    font-size: 13px;
    font-weight: 300;   
    text-transform: lowercase;
    letter-spacing: 0.5px;
    color: rgb(189, 187, 187);
}
main .conver .conver-disc .bdnotif {

    width: 95%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 15px;
}
main .conver .conver-disc .bdnotif p {
    height: auto;
    width: 95%;
    color: #1d212f;
    direction: ltr;
    word-wrap: break-word;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 15px;
}
main .conver .conver-disc .bdnotif p:first-child {
    height: auto;
    width: 95%;
    color: #1d212f;
    direction: ltr;
    word-wrap: break-word;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
   
}
main .conver .msg-notification {
   height: 80vh;
   width: 500px;
   position: fixed;
   z-index: 3;
   bottom: 0;
   right: 20px;
   background-color: #ffffff;
   box-shadow: -8px 5px 20px 0 rgb(21 21 62 / 30%);
   display: flex;
   display: none;
   
}
main .conver .msg-notification .top {
   height: 10%;
    width: 100%;
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0px;
    background-color: #1c273c;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px ;
    
 }
 main .conver .msg-notification .top p{
    color: #ffffff;
    font-size: 14px;
    font-weight: 600; 
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

 }
 main .conver .msg-notification .top p i{
   margin-right: 10px;
   color: #6f7995
 }
 main .conver .msg-notification .top p i:hover{
   font-size: 15px;
    color: #ffffff;
    cursor: pointer;
    
  }
  main .conver .msg-notification .context{
      position: absolute;
      top: 10%;
      width: 100%;
      height: 80%;
     
      display: flex;
      flex-direction: column;
    

  }
  main .conver .msg-notification .context .to,main .conver .msg-notification .context .subject{
    width: 100%;
    height: 15%;
    
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #EAEDF7;
    
    align-items: center;
    padding: 10px;

}
main .conver .msg-notification .context p{
    color: #1c273c;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
}
main .conver .msg-notification .context input{
   width: 70%;
  margin-left:10px ;
   height: 35px;
   background-color: #ffffff;
   border: none;
   outline: none;
   color: #1c273c;
   font-size: 0.875rem;
    font-weight: 400;
}
main .conver .msg-notification .context textarea{
    min-width: 95%;
    max-width: 95%;
    min-height:60% ;
    max-height: 70%;
    
   
  padding-top: 10px;
   
   
    border: none;
    outline: none;
    color: #1c273c;
    font-size: 0.875rem;
     font-weight: 400;
 }
  main .conver .msg-notification .send{
      position: absolute;
      width: 100%;
      height: 10%;
      background-color: rgb(255, 255, 255);
      bottom: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 10px 20px;
      border-top: 1px solid #EAEDF7 ;

  }
  main .conver .msg-notification .send button{
    width: 100px;
}
